<!-- Section -->
<section
  class="md-section"
  id="about"
  style="background-color: #fff; padding: 60px 0"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-30">
          <!-- sec-title -->
          <div class="sec-title sec-title__lg-title">
            <h2 class="sec-title__title">
              About <span>{{ site.title }}</span>
            </h2>
            <span class="sec-title__divider"></span>
          </div>
          <!-- End / sec-title -->

          <p>
            Rhino Drain Pro has stemmed from our big sister company
            <a href="https://rhinoplumbing.co.nz">Rhino Plumbing and Drainage</a
            >. We are a small family owned company with a big name. Our team are
            highly trained professionals covering the Auckland region where no
            job is too big or small. We are here to help our customers when they
            need us and find the source of the problem and offer a solution to
            fix it permanently.
          </p>
          <br />
          <br />
          <a class="btn btn-primary btn-outline" href="#contact-us"
            >Contact Us</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <!-- about -->
        <div class="about">
          <img src="assets/img/about/2.jpg" alt="" />

          <!-- quote-02 -->
          <blockquote class="quote-02 about-quote">
            <p class="quote-02__text">
              Your local expert for all of your drainage needs. Customer service
              is the name of the game. We aim to make your experience with us as
              simple as possible. No hidden costs. No worries. Just good quality
              service, every time.
            </p>

            <!-- authorbox -->
            <div class="authorbox">
              <div
                class="authorbox__avartar"
                style="background-image: url(assets/img/about/willie.jpg)"
              >
                <img src="assets/img/about/willie.jpg" alt="" />
              </div>
              <div class="authorbox__info">
                <h5 class="authorbox__name">Willie</h5>
              </div>
            </div>
            <!-- End / authorbox -->
          </blockquote>
          <!-- End / quote-02 -->
        </div>
        <!-- End / about -->
      </div>
    </div>
  </div>
</section>
<!-- End / Section -->
