<!-- Section -->
<section
  class="md-section"
  id="about"
  style="background-color: #fff; padding: 60px 0"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="mb-30">
          <!-- sec-title -->
          <div class="sec-title sec-title__lg-title">
            <h2 class="sec-title__title">
              About <span>{{ site.title }}</span>
            </h2>
            <span class="sec-title__divider"></span>
          </div>
          <!-- End / sec-title -->

          <p>
            We are local Auckland plumbers with over 10 years of experience in
            the industry. {{ site.title }} is a locally owned and operated
            plumbing business with some hard working men specializing in all
            plumbing services. We are dedicated, friendly, and super supportive
            when it comes to understanding what you are wanting to get done.
          </p>
          <br />
          <p>
            We get that this is something you only do once, twice, maybe three
            times in your life, so we give you peace of mind through the whole
            experience. You can always get hold of us, and trust us to provide
            skilled installers who work in a safe and responsible environment -
            the key ingredients to ensuring a quality workmanship with a
            satisfaction guarantee.
          </p>
          <br />
          <p>
            We are licensed professional with years of experience in the
            industry, we love our work, our team, and we are proud of our client
            feedback.
          </p>
          <br />
          <p>
            We use quality materials for all your drainage requirements, get the
            job done on time, and finish what we start to a high standard.
          </p>
          <br />
          <br />
          <a class="btn btn-primary btn-outline" href="#contact-us"
            >Contact Us</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <!-- about -->
        <div class="about">
          <img src="assets/img/about/2.jpg" alt="" />

          <!-- quote-02 -->
          <blockquote class="quote-02 about-quote">
            <p class="quote-02__text">
              Your local expert for all of your drainage needs. Customer service
              is the name of the game. We aim to make your experience with us as
              simple as possible. No hidden costs. No worries. Just good quality
              service, every time.
            </p>

            <!-- authorbox -->
            <div class="authorbox">
              <div
                class="authorbox__avartar"
                style="background-image: url(https://unsplash.it/800)"
              >
                <img src="https://unsplash.it/800" alt="" />
              </div>
              <div class="authorbox__info">
                <h5 class="authorbox__name">Marcel</h5>
                <p class="authorbox__work">Owner</p>
              </div>
            </div>
            <!-- End / authorbox -->
          </blockquote>
          <!-- End / quote-02 -->
        </div>
        <!-- End / about -->
      </div>
    </div>
  </div>
</section>
<!-- End / Section -->
