<!-- cta-02 -->
<div class="cta-02">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <h3 class="cta-02__title">
          From your initial call to the final sign off we aim to provide an
          excellent experience.
        </h3>
      </div>
      <div class="col-lg-3 md-text-right">
        <!-- btn -->
        <a class="btn btn-outline" href="tel:{{ site.telephone }}">Call us: {{ site.telephone }}</a>
        <!-- End / btn -->
      </div>
    </div>
  </div>
</div>
<!-- End / cta-02 -->
