 <!-- Section -->
 <section class="md-section" id="gallery" style="background-color: #fff">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2"
        >
          <!-- sec-title -->
          <div class="sec-title sec-title__lg-title md-text-center">
            <h2 class="sec-title__title">Gallery</h2>
            <span class="sec-title__divider"></span>
          </div>
          <!-- End / sec-title -->
        </div>
      </div>

      <!-- gallery-wrap -->
      <div class="gallery-wrap gallery-album">
        <div
          class="grid-css grid-css--grid"
          data-col-lg="4"
          data-col-md="2"
          data-col-sm="2"
          data-col-xs="1"
          data-gap="30"
        >
          <div class="grid__inner">
            <div class="grid-sizer"></div>

            <!-- grid-item -->
            <div class="grid-item large">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/5.jpg)"
                    >
                      <img
                        src="assets/img/gallery/5.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/5.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->

            <!-- grid-item -->
            <div class="grid-item">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/4.jpg)"
                    >
                      <img
                        src="assets/img/gallery/4.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/4.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->

            <!-- grid-item -->
            <div class="grid-item">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/3.jpg)"
                    >
                      <img
                        src="assets/img/gallery/3.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/3.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->

            <!-- grid-item -->
            <div class="grid-item wide">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/7.jpg)"
                    >
                      <img
                        src="assets/img/gallery/7.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/7.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->

            <!-- grid-item -->
            <div class="grid-item large">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/6.jpg)"
                    >
                      <img
                        src="assets/img/gallery/6.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/6.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->

            <!-- grid-item -->
            <div class="grid-item">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/1.jpg)"
                    >
                      <img
                        src="assets/img/gallery/1.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/1.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->

            <!-- grid-item -->
            <div class="grid-item">
              <div class="grid-item__inner">
                <div class="grid-item__content-wrapper">
                  <!-- gallery -->
                  <div class="gallery gallery--grid">
                    <div
                      class="gallery__image bg-image"
                      style="background-image: url(assets/img/gallery/2.jpg)"
                    >
                      <img
                        src="assets/img/gallery/2.jpg"
                        alt=""
                      /><a
                        class="gallery__overlay mfp-image"
                        href="assets/img/gallery/2.jpg"
                        data-effect="mfp-zoom-in"
                        title=""
                      >
                        <div class="md-tb">
                          <div class="md-tb__cell md-text-center">
                            <i class="fa fa-search"></i>
                          </div></div
                      ></a>
                    </div>
                  </div>
                  <!-- End / gallery -->
                </div>
              </div>
            </div>
            <!-- End / grid-item -->
          </div>
        </div>
      </div>
      <!-- End / gallery-wrap -->
    </div>
  </section>
  <!-- End / Section -->