<!-- hero -->
<hero class="hero" id="id1">
    <!-- swiper swiper-container -->
    <div class="swiper swiper-container">
      <div class="swiper-wrapper">
        <div
          class="hero__wrapper"
          style="background-image: url('assets/img/slider/1.jpg')"
        >
          <div class="hero__inner">
            <div class="container">
              <h1 class="hero__title">How to Master Microcopy</h1>
              <p class="hero__desc">
                Suspendisse ac elit vitae est lacinia interdum eu sit amet
                mauris. Phasellus aliquam nisi sit amet
              </p>

              <!-- btn -->
              <a class="btn btn-primary" href="#">button </a
              ><!-- End / btn -->
            </div>
          </div>
        </div>
        <div
          class="hero__wrapper"
          style="background-image: url('assets/img/slider/2.jpg')"
        >
          <div class="hero__inner">
            <div class="container">
              <h1 class="hero__title">Design a Perfect Homepage</h1>
              <p class="hero__desc">
                Duis porttitor libero ac egestas euismod. Maecenas quis
                felis turpis. Nulla quis turpis sed augue
              </p>

              <!-- btn -->
              <a class="btn btn-primary" href="#">button </a
              ><!-- End / btn -->
            </div>
          </div>
        </div>
        <div
          class="hero__wrapper"
          style="background-image: url('assets/img/slider/3.jpg')"
        >
          <div class="hero__inner">
            <div class="container">
              <h1 class="hero__title">Free PSD Files</h1>
              <p class="hero__desc">
                Curabitur elementum urna augue, eu porta purus gravida in.
                Cras consectetur, lorem a cursus
              </p>

              <!-- btn -->
              <a class="btn btn-primary" href="#">button </a
              ><!-- End / btn -->
            </div>
          </div>
        </div>
        <div
          class="hero__wrapper"
          style="background-image: url('assets/img/slider/4.jpg')"
        >
          <div class="hero__inner">
            <div class="container">
              <h1 class="hero__title">
                How to Create and Manage SVG Sprites
              </h1>
              <p class="hero__desc">
                Nam suscipit nisi risus, et porttitor metus molestie a.
                Phasellus id quam id turpis suscipit
              </p>

              <!-- btn -->
              <a class="btn btn-primary" href="#">button </a
              ><!-- End / btn -->
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-custom"></div>
      <div class="swiper-button-custom">
        <div class="swiper-button-prev-custom">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="swiper-button-next-custom">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <!-- End / swiper swiper-container --> </hero
  ><!-- End / hero -->