<!-- hero -->
<hero class="hero" id="home">
    <!-- swiper swiper-container -->
    <div class="swiper swiper-container">
      <div class="swiper-wrapper">
        <div
          class="hero__wrapper"
          style="background-image: url('assets/img/slider/1.jpg')"
        >
          <div class="hero__inner">
            <div class="container">
              <h1 class="hero__title">Auckland drainage experts</h1>
              <p class="hero__desc">
                Suspendisse ac elit vitae est lacinia interdum eu sit amet
                mauris. Phasellus aliquam nisi sit amet
              </p>

              <!-- btn -->
              <a class="btn btn-primary" href="#contact-us">Contact Us</a
              ><!-- End / btn -->
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-custom"></div>
      <div class="swiper-button-custom">
        <div class="swiper-button-prev-custom">
          <i class="fa fa-angle-left"></i>
        </div>
        <div class="swiper-button-next-custom">
          <i class="fa fa-angle-right"></i>
        </div>
      </div>
    </div>
    <!-- End / swiper swiper-container --> </hero
  ><!-- End / hero -->