<!-- raising-nav -->
<nav class="raising-nav">
    <!-- raising-menu -->
    <ul class="raising-menu">
      <li class="current"><a href="#id1">Home</a></li>
      <li><a href="#id2">About</a></li>
      <li><a href="#id3">service</a></li>
      <li><a href="#id4">gallery</a></li>
      <li><a href="#id5">testimonial</a></li>
      <li><a href="#id6">team</a></li>
      <li><a href="#contact-us">contact us</a></li>
    </ul>
    <!-- raising-menu -->

    <div class="navbar-toggle"><i class="fa fa-bars"></i></div>
  </nav>
  <!-- End / raising-nav -->