<!-- Vendors-->
<script
  type="text/javascript"
  src="assets/vendors/jquery/jquery.min.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/imagesloaded/imagesloaded.pkgd.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/isotope-layout/isotope.pkgd.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/magnific-popup/jquery.magnific-popup.min.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/masonry-layout/masonry.pkgd.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/swiper/swiper.jquery.js"
></script>
<script
  type="text/javascript"
  src="assets/vendors/jquery-one-page/jquery.nav.js"
></script>
<script type="text/javascript" src="assets/vendors/menu/menu.js"></script>
<script
  type="text/javascript"
  src="assets/vendors/jquery.waypoints/jquery.waypoints.min.js"
></script>
<!-- App-->
<script type="text/javascript" src="assets/js/main.js"></script>
