<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.js"></script>
<script src="/assets/js/isotope.pkgd.js"></script>
<script src="/assets/js/jquery.matchHeight.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/masonry.pkgd.js"></script>
<script src="/assets/js/swiper.jquery.js"></script>
<script src="/assets/js/jquery.nav.js"></script>
<script src="/assets/js/menu.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/main.js"></script>
