<!-- Section -->
<section class="md-section" id="services">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2"
      >
        <!-- sec-title -->
        <div class="sec-title sec-title__lg-title md-text-center">
          <h2 class="sec-title__title">Our services</h2>
          <span class="sec-title__divider"></span>
        </div>
        <!-- End / sec-title -->
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- services -->
        <div class="services">
          <div class="services__img">
            <img src="assets/img/service/drain_unblocking.png" alt="Drain Unblocking" />
          </div>
          <h2 class="services__title">
            <a href="#">Drain Unblocking</a>
          </h2>
          <div class="services__desc">
            Blocked drains can cause all sorts of problems, so if your drains
            are overflowing or the water in your sink, bath or shower won’t
            drain properly or is giving off a bad smell, it’s time to call a
            professional drain cleaning company. Rhino drain Pro unblocking
            specialists clear all types of drain blockages, with professional
            equipment offering an unrivalled drain cleaning service. We will get
            the job done quickly and efficiently.
          </div>
          <!-- btn -->
          <a
            class="btn btn btn-primary btn-custom"
            href="#contact-us"
            >Contact us
          </a>
          <!-- End / btn -->
        </div>
        <!-- End / services -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- services -->
        <div class="services">
          <div class="services__img">
            <img src="assets/img/service/cctv_inspection.png" alt="CCTV Inspection" />
          </div>
          <h2 class="services__title">
            <a href="#">CCTV Inspection</a>
          </h2>
          <div class="services__desc">
            A CCTV drain inspection allows our experts to explore entire
            drainage systems with state of the art cameras. Far more economical
            and less disruptive than digging a trench, the CCTV equipment is
            deployed to identify blockages and leaks, as well as to conduct
            drainage and asset mapping. This not only saves time but also helps
            keep drain repair costs to a minimum.
            <br />
            <br />
            A CCTV inspection can uncover:
            <ul>
              <li>- Tree root intrusion</li>
              <li>- Cracks or breaks in the pipe</li>
              <li>- Obstructions within the pipe</li>
              <li>- Crushed or collapsed areas of pipe</li>
            </ul>
          </div>

          <!-- btn -->
          <a class="btn btn btn-primary btn-custom" href="#contact-us"
            >Contact us
          </a>
          <!-- End / btn -->
        </div>
        <!-- End / services -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- services -->
        <div class="services">
          <div class="services__img">
            <img src="assets/img/service/in_drain_root_cutting.png" alt="In-drain Root Cutting" />
          </div>
          <h2 class="services__title"><a href="#">In-drain Root Cutting</a></h2>
          <div class="services__desc">
            One of the common reasons behind serious blockage in Auckland is
            tree roots. With time tree roots can grow expansively throughout
            drainage system causing heavy blockage and sometimes even damage the
            drain badly. To remove tree roots from your drain, Rhino drain pro
            uses a powerful hydro jet unit. This jet is fitted with a special
            root cutting nozzle allowing it to get through the toughest tree
            roots making sure your pipes are back in action in no time.
          </div>

          <!-- btn -->
          <a class="btn btn btn-primary btn-custom" href="#contact-us"
            >Contact us
          </a>
          <!-- End / btn -->
        </div>
        <!-- End / services -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- services -->
        <div class="services">
          <div class="services__img">
            <img src="assets/img/service/cesspit_soak_holes.png" alt="Cesspits & Soakholes" />
          </div>
          <h2 class="services__title">
            <a href="#">Cesspits & Soakholes</a>
          </h2>
          <div class="services__desc">
            esspits and soak holes are small catchments or drains used to divert
            excess water and surface flooding. Commonly cesspits and soak holes
            tend to block up due to excess silt, debris, rubbish and leaves.
            Rhino Drain Pro can flush with the hydro jet to clear it.
          </div>

          <!-- btn -->
          <a class="btn btn btn-primary btn-custom" href="#contact-us"
            >Contact us
          </a>
          <!-- End / btn -->
        </div>
        <!-- End / services -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- services -->
        <div class="services">
          <div class="services__img">
            <img src="assets/img/service/grease_traps.png" alt="Grease Traps" />
          </div>
          <h2 class="services__title">
            <a href="#">Grease traps</a>
          </h2>
          <div class="services__desc">
            If your running a restaurant, café or business where the kitchen is
            in heavy use you’ll understand the importance of grease traps in
            your operation. Rhino Drain Pro recommend checking and clearing
            Grease Traps on a 6 monthly basis, giving you peace of mind that
            your kitchen is a clean and healthy, and that your staff are
            operating in a safe environment. We can help you with a regular
            maintenance program.
          </div>

          <!-- btn -->
          <a class="btn btn btn-primary btn-custom" href="#contact-us"
            >Contact us
          </a>
          <!-- End / btn -->
        </div>
        <!-- End / services -->
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <!-- services -->
        <div class="services">
          <div class="services__img">
            <img src="assets/img/service/drain_maintenance.png" alt="Drain Maintenance" />
          </div>
          <h2 class="services__title">
            <a href="#">Drain Maintenance</a>
          </h2>
          <div class="services__desc">
            We know how blocked and backed up drains can be unpleasant and set
            you back. Rhino Drain Pro can quickly deal with the issue and get it
            sorted so your drains are free flowing. We can ensure that your
            drains are clear of any debris or any obstacle so that your drain
            remains functional throughout the year. We also offer semi-regular
            maintenance services for times where foreign objects find their way
            into drainage systems.
          </div>

          <!-- btn -->
          <a class="btn btn btn-primary btn-custom" href="#contact-us"
            >Contact us
          </a>
          <!-- End / btn -->
        </div>
        <!-- End / services -->
      </div>
    </div>
  </div>
</section>
<!-- End / Section -->
