<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>

  <body>
    <!-- preload -->
    <div class="preload" id="preload">
      <div class="cssload-spin-box"></div>
    </div>
    <!-- End / preload -->

    <div class="page-wrap">

      {%- include header.html -%} 

      <div class="md-content">
        {{ content }} 
      </div>
      
      {%- include footer.html -%}
    </div>

    {%- include scripts.html -%}
    
  </body>
</html>
